<!-- <p>dashboard works!</p> -->

<div class="tickets-bg d-flex align-items-center h-100 w-100 flex-column justify-content-center">
    <h1 class="text-black fs-1 mb-1">Welcome User!</h1>
    <h1 class="text-black fs-1 mb-1">Tickets Listing</h1>
    <p class="text-black fs-3 fw-light">You can create tickets by clicking on create ticket button.</p>
    <button mat-raised-button (click)="openDialog('0ms', '0ms')" class="py-3 rounded fs-6 px-4">Create Ticket</button>
    
    <app-listing></app-listing>
</div>



